@import 'vars';

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {
    min-height: 75px;
    background: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 33px;
    }
}

.top-head {
    background: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__heading {
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $colorSelectSite;
    }
}



.bredcrums__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;

    &_site {
        color: $colorSelectSite;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.top {
    background-color: #F7F7F7;
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


.bot__content{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__links {
        display: flex;
        flex-wrap: wrap;
    }

    &__link {
        padding-right: 9px;
        padding-left: 23px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 212px;
        height: 48px;
        border: 1px solid $colorSelectSite;
        margin-top: 63px;

        &__text {
            border: none;
            background-color: white;
            color: #F26376;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-left: 23px;
        }
    }
}

.product-box {
    padding-bottom: 96px;

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: $colorSelectSite;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 6px;
        color: #9F9F9F;
    }

    &__content {
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}


